pandas
numpy
scikit-learn
catboost
lightgbm
scipy
matplotlib
seaborn
python-box
pyYAML
tqdm
mlflow
dagshub
ensure
joblib
python-multipart
types-PyYAML
fastapi
uvicorn
imblearn
dvc
pytest
gdown
ydata-profiling
ipywidgets
optuna
xgboost==2.1.4
-e .